body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

img {
  /* max-width: 99%;
  max-height: 99%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
input {
  margin-left: 10px;
}
h2, div {
  text-align: center;
}
p {
  font-family: 'Source Code Pro', monospace;
  color: #000;
  text-align: center;
  transform: translateY(20px);
  font-weight: bolder;
  line-height: 50px;
}
